body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column; 
  align-items: center;
}


form {
  display: flex;
  flex-direction: column; 
  gap: 10px;              
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: auto;
  max-width: 400px;
  margin-bottom: 20px;
}

form div {
  display: flex;
  flex-direction: column; 
}


input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#addTaskButton {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addTaskButton:hover {
  background-color: royalblue;
}

#taskTable {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}